:root {
  --space-4xs: 0.4rem;
  --space-3xs: 0.8rem;
  --space-xs: 1.6rem;
  --space-s: 2rem;
  --space-m: 3rem;
  --space-l: 3.6rem;
  --space-xl: 4.8rem;
  --space-xxl: 6.4rem;
  --space-3xl: 9.6rem;
  --space-xxs: 1rem;

  --text-xxl: 3.6rem;
  --text-xl: 2.6rem;
  --text-l: 2.4rem;
  --text-m: 1.8rem;
  --text-s: 1.5rem;
  --text-xs: 1.3rem;
  --text-xxs: 1.2rem;

  --color-accent: #ee0077;
  --color-text-primary: #ffffff;
  --color-text-secondary: rgba(255, 255, 255, 0.7);
  --color-bg-block: rgba(255, 255, 255, 0.07);
  --color-link: #b7f;
}

@media (min-width: 640px) {
  :root {
    --space-4xs: 0.4rem;
    --space-3xs: 0.8rem;
    --space-xs: 1.6rem;
    --space-s: 2.4rem;
    --space-m: 3.2rem;
    --space-l: 4.8rem;
    --space-xl: 6.4rem;
    --space-xxl: 9.6rem;
    --space-3xl: 12.8rem;
    --space-xxs: 1.2rem;

    --text-xxl: 6.4rem;
    --text-xl: 4.8rem;
    --text-l: 3.6rem;
    --text-m: 2rem;
    --text-s: 1.8rem;
    --text-xs: 1.5rem;
    --text-xxs: 1.3rem;
  }
}

html {
  font-size: 9px;
}
@media (min-width: 375px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 520px) {
  html {
    font-size: 11px;
  }
}

@media (min-width: 640px) {
  html {
    font-size: 8px;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 9px;
  }
}
@media (min-width: 1600px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 1900px) {
  html {
    font-size: 11px;
  }
}
