.rich {
  overflow: hidden;
}

.rich * {
  scroll-margin-top: var(--space-xxl);
}

.rich img {
  margin-left: auto;
  margin-right: auto;
  border-radius: var(--space-xs);
}
.rich img,
.rich hr:not(:first-child) {
  margin-top: var(--space-l);
}
.rich img,
.rich hr:not(:last-child) {
  margin-bottom: var(--space-l);
}

.rich h1:not(:first-child):not([class]) {
  margin-top: var(--space-xl);
}
.rich h2:not(:first-child):not([class]) {
  margin-top: var(--space-xl);
}
.rich h3:not(:first-child):not([class]) {
  margin-top: var(--space-l);
}
.rich h4:not(:first-child):not([class]) {
  margin-top: var(--space-m);
}
.rich h5:not(:first-child):not([class]),
.rich h6:not(:first-child):not([class]),
.rich p:not(:first-child),
.rich blockquote:not(:first-child),
.rich ul,
.rich ol,
.rich li:not(:first-child) {
  margin-top: var(--space-s);
}

.rich h1:not(:last-child):not([class]) {
  margin-bottom: var(--space-xl);
}
.rich h2:not(:last-child):not([class]) {
  margin-bottom: var(--space-l);
}
.rich h3:not(:last-child):not([class]) {
  margin-bottom: var(--space-m);
}
.rich h4:not(:last-child):not([class]),
.rich h5:not(:last-child):not([class]),
.rich h6:not(:last-child):not([class]),
.rich p:not(:last-child),
.rich blockquote:not(:last-child),
.rich ul,
.rich ol {
  margin-bottom: var(--space-s);
}

.rich ul,
.rich ol {
  display: block;
  padding: 0;
  counter-reset: ol;
}
.rich ul li,
.rich ol li {
  position: relative;
  display: block;
  box-sizing: border-box;
  padding-left: 2.2em;
}
.rich ul li:before,
.rich ol > li:before {
  position: absolute;
  top: 0;
  left: 0;
  color: currentColor;
  font-size: inherit;
  line-height: inherit;
}
.rich ol li:before {
  content: counters(ol, '.') '.';
  counter-increment: ol;
}
.rich ul > li:before {
  content: '•';
}

.rich table {
  width: 100%;
  display: block;
  overflow-x: scroll;
  border-collapse: separate;
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
  box-sizing: border-box;
  background-color: var(--color-bg-block);
  border-radius: var(--space-xs);
}

.rich table thead,
.rich table tbody {
  width: 100%;
}
.rich table td,
.rich table th {
  padding: var(--space-xs) var(--space-s);
  overflow-wrap: normal;
  vertical-align: top;
  text-align: left;
  font-weight: normal;
}

.rich blockquote {
  background-color: var(--color-bg-block);
  padding: var(--space-m);
  border-radius: var(--space-xs);
}
.rich blockquote::before {
  display: block;
  content: '“';
  font-size: 2em;
  line-height: 0.8em;
}
